<html>
<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="~/css/Style.css" />
</head>

<body>
    <div class="form">
        <h1>Login</h1>
        <div class="login-form "></div>
        <form method="post" enctype="multipart/form-data" asp-controller="User" asp-action="Login">
            <p><input type="text" class="form-control" name="username" value="" placeholder="Username or Email" required></p>
            <p><input type="password" class="form-control" name="passcode" value="" placeholder="Password" required></p>
            <p class="submit"><input type="submit" class="btn btn-primary" name="commit" value="Login"></p>
            <p>Not registered? <a href="AddUser">Create an account</a></p>
            <hr />
            @ViewBag.username
        </form>
    </div>
</body>
</html>