
<!DOCTYPE html>
<html lang="en">
<head>
    <title>PlayHarmoniez</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    <!-- Sidebar/menu -->
    @await Html.PartialAsync("~/Views/Shared/_Navbar_Admin.cshtml");
    <!-- !PAGE CONTENT! -->
    <div style="margin-left:25%">
        <div class="speech-bubble" style="margin-top:10%;clear:both; color:black">
            <font></font>
            <p style="font-size:24px">Welcome Administrator !</p>           
            <p>Here you can ADD, DELETE and MODIFY albums and songs </p>
        </div>
        <div >
            <img class="image-container" style="max-height:400px; max-width:400px;border-radius:50% ; float : right" src="https://cdn.openart.ai/uploads/image_random_qqTK0f6D_1666553058859_1024.webp">
        </div>
    </div>
</body>
</html>
