
<!DOCTYPE html>
<html lang="en">
<head>
    <title>PlayHarmoniez</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    <!-- Sidebar/menu -->
    @await Html.PartialAsync("~/Views/Shared/_Navbar_User.cshtml");
    <!-- !PAGE CONTENT! -->
    <div class="image-container" style="margin-left:25%">
        <img src="https://cdn.openart.ai/uploads/image_random_qqTK0f6D_1666553058859_1024.webp" alt="Capybara">
    </div>
</body>
</html>
