@*<html>
<head>
    <link rel="stylesheet" href="~/css/Style.css" />
</head>

<body>
    <div class="login">
        <h1>Login to Web App</h1>

        <form method="post" enctype="multipart/form-data" asp-controller="User" asp-action="Login">
            <p><input type="text" name="username" value="" placeholder="Username or Email" required></p>
            <p><input type="password" name="passcode" value="" placeholder="Password" required></p>
            <p class="submit"><input type="submit" name="commit" value="Login"></p>
            <p>Not registered? <a href="#">Create an account</a></p>
            <hr />
            @ViewBag.username
        </form>
    </div>
</body>
</html>*@