<!DOCTYPE html>
<html>
<head>
    <title>Landing Page</title>
    <link rel="stylesheet" href="~/css/Style.css" />
</head>
<body>
    <div class="container2 bg-primary">
        <h1>Welcome to PlayHarmoniez</h1>
        <p>Please Login to get access</p>
        <a href="User/Login" class="btn btn-primary btn-lg">Get Started</a>
    </div>
</body>
</html>
