@model List<PlayHarmoniez.Models.Playlist>
@{
    ViewData["Title"] = "PlaylistList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Sidebar/menu -->
@await Html.PartialAsync("~/Views/Shared/_Navbar_User.cshtml");


@foreach(var playlist in Model)
{
     <div class="card text-white bg-dark mb-3" style="max-width: 75rem; max-height: 20rem;margin-left:20%">
        <div class="card-header">@playlist.Name</div>
        <div class="card-body">
            <p class="card-text"> Description : @playlist.Description</p>
        </div>
        <!--Here there needs to be the link for songs inside the called playlist that passes playlist id-->
        <a class="circle-button-link" href="">
            <img src="https://static.vecteezy.com/system/resources/previews/000/379/146/original/list-vector-icon.jpg">
        </a>
     </div>
}

