html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.apply_color {
    color: #F8F8F8;
}

.player {
    width: 20rem;
    border-radius: 1.5rem;
    box-shadow: 25px 25px 50px #c7cacf, -25px -25px 50px #ffffff;
}

.art {
    box-shadow: 20px 20px 60px #c7cacf, -20px -20px 60px #ffffff;
}


.play-button {
    background: #eaeef3;
    box-shadow: inset 5px 5px 10px #dce0e4, inset -5px -5px 10px #f8fcff;
}
