<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="w3-sidebar navbar-dark bg-primary w3-bar-block" style="width:10%">
    <h3 class="w3-bar-item">Menu</h3>
    <a class="w3-bar-item w3-button" asp-area="" asp-controller="Song" asp-action="SongsList">Songs</a>
    <a class="w3-bar-item w3-button" asp-area="" asp-controller="Album" asp-action="AlbumList">Albums</a>
    <a href="User/Login" class="w3-bar-item w3-button">Logout</a>
</div>
