@model List<PlayHarmoniez.Models.Song>

<form class="d-flex">
    <input class="form-control me-sm-2" type="search" placeholder="Search">
    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
</form>
<a href="AddSong">Would you like to add a song?</a>
@foreach(var song in Model)
{
   
    <div class="card text-white bg-info mb-3" style="max-width: 22rem;">
        <div class="card-header"> </div>
        <div class="card-body">
            <h5 class="card-title">
                <img src=@song.ImageFile.ToString() style="width:200px;height:200px;">
            </h5>
            <h5 class="card-title">Title : @song.Title</h5>
            <h5 class="card-title">Author : @song.Author</h5>
	        <h5 class="card-title">Publish Date @song.PublishData.ToString("yyyy-mm-dd")</h5>
            <p class="card-text"> Description : @song.Description</p>
            <audio controls>
                <source src=@song.SoundFile.ToString() type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div>
    </div>
}


